
<p-toolbar>
  <ng-template pTemplate="center">
      <span class="text-primary font-semibold text-3xl">Shipment Tracking</span>
  </ng-template>
  <ng-template pTemplate="end">
      <p-button (onClick)="navigateToSignClient()"  label="Back" icon="pi pi-times" styleClass="p-button-danger"></p-button>
  </ng-template>
</p-toolbar>


<body class="flex flex-column justify-content-start min-h-screen" >
    <div class="align-items-center flex flex-wrap align-items-center justify-content-center pt-5 pb-5 height-full"  >
      <div class="surface-card p-4 shadow-5 opacity-70 border-round w-full lg:w-8">
        <div class="text-center mb-5">
          <img src="/assets/img/logo1.png" alt="Image" height="100" class="mb-1">
          <div class="text-900 text-3xl font-medium mb-3">Shipping Information</div>
        </div>
        <div>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Shipment's code</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">{{shipment?.code}}</label>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Origin</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">{{destination?.departure}}</label>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Shipment departure day</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">{{ shipment?.deliveredDate | date: 'yyyy-MM-dd' }}</label>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Destination</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">{{destination?.arrival}}</label>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Shipment arrival day</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">{{ shipment?.arrivalDate | date: 'yyyy-MM-dd' }}</label>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Status</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">In process</label>
            <label for="shipmentCode" class="block text-900 font-semibold mb-2">Real time location</label>
            <label for="ordeId" class="block text-900 font-medium mb-2">Loading...</label>



        </div>
      </div>
    </div>

</body>
