<app-navbar></app-navbar>

<div>
  <label for="description" class="block text-900 font-medium mb-2">Package Information</label>
  <input id="description" [(ngModel)]="description" type="text" placeholder="Description" pInputText class="w-full mb-3">


  <label for="sender" class="block text-900 font-medium mb-2">Sender Information</label>
  <input id="senderName" [(ngModel)]="senderName" type="text" placeholder="Name" pInputText class="w-full mb-3">
  <input id="senderEmail" [(ngModel)]="senderEmail" type="text" placeholder="Email" pInputText class="w-full mb-3">

  <label for="consigne" class="block text-900 font-medium mb-2">Consignee Information</label>
  <input id="consigneName" [(ngModel)]="consigneeName" type="text" placeholder="Name" pInputText class="w-full mb-3">
  <input id="senderEmail" [(ngModel)]="consigneeEmail" type="text" placeholder="Email" pInputText class="w-full mb-3">

  <label for="email1" class="block text-900 font-medium mb-2">Destination</label>

  <label for="email1" class="block text-900 font-medium mb-2">Date</label>

  //add a date picker input here

</div>
