<app-navbar></app-navbar>

<div class="title">
  Add Shipment
</div>

<div class="center-container">
  <label for="information" class="block text-900 font-medium mb-2">Package Information</label>
  <div class="w-full mb-3 custom-input-field">
    <p-dropdown [options]="packageTypes" [(ngModel)]="selectedPackageType" optionLabel="label" placeholder="Type of Package" [style]="{'width': '100%'}"></p-dropdown>
  </div>

  <input id="weight" [(ngModel)]="packageWeight" type="number" placeholder="Weight" pInputText class="w-full mb-3 custom-input-field">
  <input id="height" [(ngModel)]="packageHeight" type="number" placeholder="Height" pInputText class="w-full mb-3 custom-input-field">
  <input id="width" [(ngModel)]="packageWidth" type="number" placeholder="Width" pInputText class="w-full mb-3 custom-input-field">
  <input id="length" [(ngModel)]="packageLength" type="number" placeholder="Length" pInputText class="w-full mb-3 custom-input-field">
  <!-- <input id="quantity" [(ngModel)]="quantity" type="number" placeholder="Quantity" pInputText class="w-full mb-3 custom-input-field "> -->

  <label for="information" class="block text-900 font-medium mb-2">Shipment Information</label>

  <input id="freight" [(ngModel)]="freight" type="number" placeholder="Freight" pInputText class="w-full mb-3 custom-input-field ">
  <input id="description" [(ngModel)]="description" type="text" placeholder="Description" pInputText class="w-full mb-3 custom-input-field">
   <input id="date" [(ngModel)]="selectedDate" type="date" placeholder="Date" pInputText class="w-full mb-3 custom-input-field">

  <label for="sender" class="block text-900 font-medium mb-2">Sender Information</label>
  <input id="senderName" [(ngModel)]="senderName" type="text" placeholder="Name" pInputText class="w-full mb-3 custom-input-field">
  <input id="senderEmail" [formControl]="senderEmailFormControl" type="text" placeholder="Email" [(ngModel)]="senderEmail"  pInputText class="w-full mb-3 custom-input-field">
  <div *ngIf="senderEmailFormControl.hasError('email') && senderEmailFormControl.touched" class="error-text">
    Please enter a valid email.
  </div>

  <div class="w-full mb-3 custom-input-field">
    <p-dropdown [options]="documentTypes" [(ngModel)]="selectedDocumentType" optionLabel="label" placeholder="Type of Document" [style]="{'width': '100%'}"></p-dropdown>
  </div>
  <input id="documentNumber" [(ngModel)]="documentNumber" type="number" placeholder="Document Number" pInputText class="w-full mb-3 custom-input-field ">

  <label for="consignee" class="block text-900 font-medium mb-2">Consignee Information</label>
  <input id="consigneeName" [(ngModel)]="consigneeName" type="text" placeholder="Full Name" pInputText class="w-full mb-3 custom-input-field">


  <label for="destination" class="block text-900 font-medium mb-2">Destination</label>

    <div class="w-full mb-3 custom-input-field">
      <p-dropdown [options]="destinations" [(ngModel)]="selectedDestination" optionLabel="label" placeholder="Destination" [style]="{'width': '100%'}"></p-dropdown>
    </div>


  <p-button label="Add Shipment"  (onClick)="validateShimentData()" icon="pi pi-send" styleClass="w-full custom-button"></p-button>


</div>
