<!--<mat-toolbar *ngIf="profile === 'supplier'" class="navbarc">
  <h1>SoftRoute |</h1>
  <h3>| Suppliers</h3>
  <div class="mat-spacer"></div>
  <a mat-button *ngFor="let option of options"
     [routerLink]="option.path">{{ option.title }}</a>
</mat-toolbar>-->


<body class="flex flex-column justify-content-center min-h-screen">
<header>
  <h1><b>SoftRoute</b></h1>
  <h2>La plataforma de envios</h2>
</header>
<main>
    <p-button (onClick)="navigateToSignInAdministrator()" class="m-2" label="ADMINISTRATOR" [style]="{ width: '30vw' ,'min-width':'300px' }"></p-button>
    <p-button  (onClick)="navigateToSignInClient()" class="m-2" label="CLIENT"[style]="{ width: '30vw' ,'min-width':'300px'}"></p-button>

  <img class=" w-auto" src="/assets/img/logo1.png" alt="">

</main>
<footer class="flex flex-wrap align-items-center justify-content-center pt-5 pb-5">
  <div class="text-center mb-5">
    <span class="text-600 font-medium line-height-3">Don't have an account?</span>
    <a (click)="navigateToSignUp()" class="font-medium no-underline ml-2 text-blue-500 cursor-pointer">Create today!</a>
  </div>
</footer>



</body>
