<mat-toolbar *ngIf="profile === 'supplier'" class="navbarc">
  <h1>SoftRoute |</h1>
  <h3>| Suppliers</h3>
  <div class="mat-spacer"></div>
  <a mat-button *ngFor="let option of options"
     [routerLink]="option.path">{{ option.title }}</a>
</mat-toolbar>

<mat-toolbar *ngIf="profile === 'store'" class="navbarc">
  <h1>SoftRoute |</h1>
  <h3>| Stores</h3>
  <div class="mat-spacer"></div>
  <a mat-button *ngFor="let option of options2"
     [routerLink]="option.path">{{ option.title }}</a>
</mat-toolbar>

<router-outlet></router-outlet>
