.card {
  padding: 2rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}


body {
  background: linear-gradient(to bottom, rgba(238, 0, 143, 0.4), rgba(3, 126, 255, 0.4)); /*#EE008F, #037EFF*/
  height: 100%;
  padding: 0.3rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
